.sidebar
  .sidebar-group.is-sub-group > .sidebar-heading:not(.clickable) 
    opacity: 1;
    
.quote
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #f0f4f8
  .title
    font-weight bold

.custom-block
  &.right
    color transparentify($textColor, 0.4)
    font-size 0.9rem
    text-align right

.theme-mode-dark
  .quote 
    background-color rgba(243, 245, 247, .2)
    color darken(#42b983, 0%)

.vssue 
  .vssue-header 
    .vssue-header-powered-by
      display: none;
